<!-- start: FEATURED BOX LINKS -->
<div class="container-fluid container-fullw bg-white">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<h4 class="StepTitle">Beras</h4>
					<!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
					<div ng-controller="VisitsCtrl" class="height-350">
						<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
						<div class="margin-top-20">
							<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
						</div>
					</div>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi PO:</p>
				<div class="well ng-binding">
					<p>600.000.000</p>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi DO:</p>
				<div class="well ng-binding">
					<p>550.000.000</p>
				</div>

				<p style="margin-top: 29px;" class="text-left">Nilai transaksi per agen</p>
				<p style="margin-left: 25px;" class="text-left">Agen 1</p>
				<progressbar value="80"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 2</p>
				<progressbar value="60"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 3</p>
				<progressbar value="90"></progressbar>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<h4 class="StepTitle">Kedelai</h4>
					<!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
					<div ng-controller="VisitsCtrl" class="height-350">
						<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
						<div class="margin-top-20">
							<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
						</div>
					</div>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi PO:</p>
				<div class="well ng-binding">
					<p>600.000.000</p>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi DO:</p>
				<div class="well ng-binding">
					<p>550.000.000</p>
				</div>

				<p style="margin-top: 29px;" class="text-left">Nilai transaksi per agen</p>
				<p style="margin-left: 25px;" class="text-left">Agen 1</p>
				<progressbar value="80"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 2</p>
				<progressbar value="60"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 3</p>
				<progressbar value="90"></progressbar>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-white no-radius text-center">
				<div class="panel-body">
					<h4 class="StepTitle">Gula</h4>
					<!-- /// controller:  'VisitsCtrl' -  localtion: assets/js/controllers/dashboardCtrl.js /// -->
					<div ng-controller="VisitsCtrl" class="height-350">
						<canvas class="tc-chart" tc-chartjs-line chart-options="options" chart-data="data" chart-legend="chart1" width="100%"></canvas>
						<div class="margin-top-20">
							<div tc-chartjs-legend chart-legend="chart1" class="inline pull-left"></div>
						</div>
					</div>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi PO:</p>
				<div class="well ng-binding">
					<p>600.000.000</p>
				</div>
				<p style="margin-left: 25px;" class="text-left">Total transaksi DO:</p>
				<div class="well ng-binding">
					<p>550.000.000</p>
				</div>

				<p style="margin-top: 29px;" class="text-left">Nilai transaksi per agen</p>
				<p style="margin-left: 25px;" class="text-left">Agen 1</p>
				<progressbar value="80"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 2</p>
				<progressbar value="60"></progressbar>
				<p style="margin-left: 25px;" class="text-left">Agen 3</p>
				<progressbar value="90"></progressbar>
			</div>			
		</div>
	</div>
</div>
<!-- end: FEATURED BOX LINKS -->